.App{
    max-width:800px;
    margin: 0 auto;
    display: block;
}

.container{
max-width:500px;
margin: 0 auto;
display:block;
background-color: rgb(249, 245, 245);
padding-bottom: 50px;
}

.App-header{
padding:50px;
margin:0 auto;
display:block;
}

.header{
    color:#07204B;
    font-size: 80px;
    font-family: 'Fredericka the Great', cursive;
    box-shadow: 5px 5px 5px rgb(190, 189, 189);
    border-radius: 4px;
    background-color: white;
    margin:  auto;
display:block;
text-align: center;
}

.coded-by{
    max-width: 50%;
    color:#07204B;
    font-family: monospace;
    box-shadow: 5px 5px 5px rgb(190, 189, 189);
    border-radius: 4px;
    margin:  auto;
display:block;
text-align: center;
font-size: 12px;
background-color: white;
}

a:-webkit-any-link{
    text-decoration: none;
    color:#2454a7;
}