.dictionary{
    margin-bottom: 50px;
    text-align: center;
}

.inputField{
margin-right:10px;
padding:0 20px 0 2px;
}

.dictionary section{
    box-shadow: 5px 5px 5px rgb(190, 189, 189);
    border-radius: 4px;
    margin: 30px;
    padding: 10px;
    background-color: white;
    text-align: left;
}

